.main-profile {

  &-image {
    margin-top: 50px;
    margin-left: 70px; 
    // width: 550px !important;
    // height: 20px !important;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  &-image:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  &-banner {
    font-family: 'Encode Sans Semi Expanded', sans-serif;
  }
}