.main-profile {

  &-image {
    margin-top: 50px;
    margin-left: 70px; 
    // width: 550px !important;
    // height: 20px !important;
  }

  &-banner {
    font-family: 'Encode Sans Semi Expanded', sans-serif;
  }
}